@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>;

<div class="text-center">
    <h1 class="display-4">Yummy dishes</h1>
    <ul>
    @{
        foreach(Dish d in @Model)
        {
            <li>Name: <a href="/edit/@d.DishId">@d.Name</a> Chef: @d.Chef Tastiness: @d.Tastiness Calories: @d.Calories Description: @d.Description</li>;
        }
    }
    </ul>
</div>
